extends layout
block content
  .ui.card
    .content
      .header 
      =foodtruck.name
    .content
      h4.ui.sub.header 
      =foodtruck.speciality
      .ui.small.feed
        .event
          .content
            .summary
             =foodtruck.address
        .event
          .content
            .summary
            =foodtruck.phone
      
    